<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties - Driver, URL, user, password -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.dialect">
            org.hibernate.dialect.Oracle10gDialect
        </property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = sed0dbadm01-scan.tceq.texas.gov)(PORT = 1521))(LOAD_BALANCE = yes)(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = devexa.tceq.texas.gov)))</property>
        <property name="hibernate.connection.username">user_name</property>
        <property name="hibernate.connection.password">password</property>
        <!-- Connection Pool Size -->
        <!--<property name="hibernate.connection.pool_size">1</property>-->

        <!--  c3p0 and hibernate configuration -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">60</property>
        <property name="hibernate.c3p0.timeout">2500</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.acquire_increment">3</property>
        <property name="hibernate.c3p0.validate">true</property>
        <property name="hibernate.c3p0.idle_test_period">100</property>
        <!--<property name="hibernate.c3p0.connectionCustomizerClassName">com.sevi.utility.CatsConnectionCustomizer</property>-->





        <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.StandardQueryCache</property>
        <!-- Outputs the SQL queries, should be disabled in Production -->
        <property name="hibernate.show_sql">true</property>

        <!-- Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc
            Hibernate 4 automatically figure out Dialect from Database Connection Metadata
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->

        <!-- mapping file, we can use Bean annotations too -->
        <mapping resource="rcCounty.hbm.xml" />
    </session-factory>
</hibernate-configuration>
